<!DOCTYPE html>
<html>

<head>
  <title>MovieBuddy | By Ahrensburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <link href="/static/style.css" rel="stylesheet">
    <script src="/static/index.js"></script>
</head>
<body>
  <div class="landingPage">
    <h1 class="welcome display-1">Hey, I'm MovieBuddy</h1>
    <h1 class="welcome display-2">I'm your personal movie assistant.
      <br>Click the arrow to know more.</h1>
    <div class="glyphicon glyphicon-circle-arrow-down white" id="clickScroll"></div>
  </div>
  <div class="col-sm-4 col-sm-offset-4 container frame">
    <ul></ul>
    <form id="queryForm">
      <div class="box-right macro usrtext">
        <div class="text text-r" style="background:white !important">
          <input class="usrtext" id="usrtext" placeholder="Type a message" />
        </div>
      </div>
      <div style="float:right; padding:10px;">
        <span type="submit" onclick="submitForm()" class="pushIcon btn-primary glyphicon glyphicon-share-alt"></span>
      </div>
    </form>
  </div>
</body>

</html>
